* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div{
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;

}
h2{
  font-family: 'Fugaz One', cursive;
  font-size: 10px;
  color: black;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 30px;
  border: 3px solid black;
  box-shadow: 5px 5px 7px bLACK;

}



.horiz1{
  image
  height: 25px;
  width: 40px;
  object-fit: cover;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  border: 3px solid BLACK;
  margin: 2px 6px 2px;
  box-shadow: 5px 5px 15px YELLOW;

}
#farleft{
  margin-left: 40px;
}
#farright{
  margin-right: 30px;
}
.vert1{
  height: 40px;
  width: 30px;
  object-fit: cover;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  border: 3Px solid BLACK;
  margin: 2px 11px 2px;
  box-shadow: 5px 5px 7px bLACK;
}
#farleftl{
  margin-left: 45px;
}
#farrightl{
  margin-right: 35px;
}
